/***
 * INFO PANEL
 ***/
.chart-info-panel .frame {
  stroke: #767676;
  fill: white;
}

.chart-info-panel text {
  font-family: 'DejaVu Sans Mono';
  font-size: 10px;
  fill: rgba(0, 0, 0, 0.85);
}

/***
 * GAP LINES
 ***/
.chart-gap-line {
  stroke-width: 4px;
  stroke: #6e2121;
  stroke-opacity: 0.2;
  stroke-dasharray: 8 5;
}

/***
 * HIGHLIGHT
 ***/
.chart-highlight line {
  stroke-width: 1px;
  stroke: #474747;
  stroke-dasharray: 8 6;
}

.chart-highlight rect {
  fill: rgb(121, 121, 121);
  stroke: #474747;
}

/***
 * AXEL
 ***/
.chart-grid-line {
  stroke-width: 1px;
  stroke: #c5c5c5;
}

.chart-grid-tick {
  stroke-width: 1px;
  stroke: #767676;
}

.chart-grid-labels {
  fill: #767676;
  font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.chart-xaxel-grab-area {
  cursor: ew-resize;
  fill: transparent;
}

.chart-yaxel-grab-area {
  cursor: ns-resize;
  fill: transparent;
}

/***
 * PANEL 
 ***/
.chart-panel .chart-panel-frame > rect {
  fill: transparent;
}

.chart-panel .chart-panel-frame > rect {
  fill: transparent;
}

.chart-panel .chart-panel-frame > path {
  stroke-width: 1px;
  stroke-linecap: round;
  stroke: #767676;
}

.chart-panel.focused .chart-panel-frame > rect {
  stroke-width: 1px;
  stroke: #b9b9b9;
}

.chart-panel .chart-panel-controls {
  transition:
    visibility 0.6s,
    opacity 0.6s;
}

.chart-panel .chart-panel-controls .mask {
  fill: #e6e6e6;
}

.chart-panel:not(.focused) .chart-panel-controls {
  visibility: hidden;
  opacity: 0;
}

.chart-panel.collapsed .chart-panel-controls {
  visibility: visible;
  opacity: 1;
}

/***
 * LEGEND
 ***/
.chart-legend text {
  font-size: 12px;
  font-weight: bold;
  fill: #5f5f5f;
  font-family: 'Helvetica';
}

.chart-legend-item {
  cursor: pointer;
}

.chart-legend-item rect {
  fill: #f4f4f4;
  opacity: 0.7;
}

.chart-legend-item .chart-legend-item-info {
  font-weight: normal;
}

.chart-legend-item.disabled text {
  fill: #b3b3b3;
}

/***
 * LOADING INDICATOR
 ***/
.chart-loading-indicator {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.8s,
    opacity 0.8s;
}

.chart-loading-indicator.show {
  visibility: visible;
  opacity: 1;
}

.chart-loading-indicator rect {
  fill: #f4f4f4;
  opacity: 0.5;
}

.chart-loading-indicator text {
  font-size: 12px;
  font-weight: bold;
  fill: rgb(172, 17, 17);
  font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
}

/***
 * MARKER
 ***/
.chart-marker {
  cursor: pointer;
  stroke-width: 1px;
  stroke: black;
}

.chart-marker:active {
  outline: 2px dashed rgba(20, 20, 20, 0.4);
}

.chart-marker.focused {
  outline: 2px dashed rgba(20, 20, 20, 0.6);
  outline-offset: 1px;
}
