/***
 * SVG 
 ***/
svg {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.interactive {
  pointer-events: auto;
}

/***
 * SYMBOL
 ***/
symbol > * {
  stroke: inherit;
}

symbol text {
  fill: inherit;
}

/***
 * FRAMED TEXT
 ***/
.graphic-framed-text rect {
  fill: gray;
  stroke: black;
  stroke-width: 1px;
}

.graphic-framed-text text {
  font-size: 13px;
  fill: white;
  font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
}

/***
 * BUTTON
 ***/
.graphic-button {
  cursor: pointer;
}

.graphic-button .graphic-button-icon {
  stroke: rgba(0, 0, 0, 0.8);
  fill: rgba(0, 0, 0, 0.8);
}

.graphic-button > text {
  fill: black;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  font-weight: 500;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.graphic-button > rect {
  stroke-width: 1px;
  stroke: #7a7a7a;
  fill: #f7f7f7;
}

.graphic-button:hover > rect {
  fill: #dddddd;
}

.graphic-button:active > rect {
  fill: #c9c9c9;
}

.graphic-button.selected > rect {
  stroke: rgb(37, 37, 245);
}

.graphic-button.selected .graphic-button-icon {
  stroke: rgb(245, 245, 245);
  fill: rgb(245, 245, 245);
}

.graphic-button.selected > text {
  fill: rgb(245, 245, 245);
}

.graphic-button.selected > rect {
  fill: rgb(64, 64, 240);
}

.graphic-button.selected:hover > rect {
  fill: rgb(41, 41, 247);
}

.graphic-button.selected:active > rect {
  fill: rgb(97, 97, 241);
}
